// 修改组件库内部样式
// 思路： 起一个复杂的类名将组件样式包裹，需要的地方使用该类名

.choose-icon-dialog-body-height {
  .el-dialog__body {
    height: 500px;
    // overflow: scroll;
  }
}

.list-tabs-item-center {
  .el-tabs__nav {
    display: flex;
    width: 100%;
  }
  .el-tabs__item {
    flex: 1;
    text-align: center;
  }
}
